.modal-light-force, .modal-light-force * {
  background: #fff !important;
  color: #222 !important;
  border-color: #dee2e6 !important;
}

.modal-light-force .btn {
  background: #fff !important;
  color: #222 !important;
  border-color: #dee2e6 !important;
}

.modal-light-force .form-control {
  background: #fff !important;
  color: #222 !important;
  border-color: #dee2e6 !important;
}
